*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #dee2e6;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.product-card__container {
  max-width: 120rem;
}

.title {
  text-align: center;
  text-transform: capitalize;
  color: #333;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.product-cards {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.product-card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.6rem;
  box-shadow: 0 4px 10px rgba(51, 51, 51, 0.219);
}

.product-img__container {
  background-color: #f8f9fa;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.product-img {
  width: 30rem;
  transform: rotate(-60%);
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info > span {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.select-size {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #495057;
  font-weight: 600;
}

.product-size__selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size-selctor:link,
.size-selctor:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid #adb5bd;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  width: 6rem;
}

.size-selctor:hover,
.size-selctor:active {
  background-color: #212529;
  color: #fff;
  border: none;
}

.active:link,
.active:visited {
  background-color: #222;
  color: #fff;
  border: none;
}

.product-cta {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.cta-btn:link,
.cta-btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  background-color: #222;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cta-btn:hover,
.cta-btn:active {
  font-weight: 700;
  color: #222;
  background-color: #fff;
  box-shadow: 0 0 0 2px #adb5bd;
}

.ph-handbag {
  margin-top: 0.2rem;
  font-size: 1.8rem !important;
  font-weight: 700;
}

.price {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}
.cta-btn__small {
  width: 50%;
}

@media (max-width: 47em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 43em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 36em) {
  .product-cards {
    flex-direction: column;
  }
}
